KalmanFilter       
cvReliefAlgorithm

MeanShift      
    
cvTensorflow
DehazeTest     
   
MogSubtractionGPU  
superResolution

HistogramDisplay  
Optical-flow       

VideoKeypoints  
Image-Fusion      

cvPixelate    
  
videoSaver

.gitignore